<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{profile_name}}</title>
 <script type="text/javascript" async="" src="/style/profile/f.txt"></script><script src="/style/profile/502088030442368" async=""></script><script async="" src="/style/profile/fbevents.js"></script><script async="" src="/style/profile/js"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-706805612'); </script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<meta name="description" content="The public profile of Sam at Mingle All The Way.">

<meta http-equiv="Content-language" content="en">
<link rel="stylesheet" type="text/css" href="/style/profile/ow.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/base.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/location.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/velvet-92455ee743fe6cc64.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/main.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/css(1)" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/css(2)" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/skadate.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/bookmarks.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/jquery.emojipicker.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/bootstrap.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/cookieconsent.min.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/mailbox.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/profile/style.css" media="all">
<style media="all">
    #place_components .component {
        float: left;
    }

    .view_component div{
       overflow: hidden;
    }

     .ow_avatar_console .ow_avatar_label {
        bottom: 5px;
        right: 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    #avatar_console_image {
        background-repeat: no-repeat;
        background-position: center center;
        position:relative;
        width: 100%;
    }


            .ow_edit_profile_link
            {
                position: absolute;
                right: 0px;
                top: 0px;
            }


html div.ow_console_list_wrapper
{
    min-height: 0px;
    max-height: 257px;
}

</style><link rel="shortcut icon" type="image/x-icon" href="/style/favicon.png">
<script type="text/javascript" src="/style/profile/jquery.min.js"></script>
<script type="text/javascript" src="/style/profile/jquery-migrate.min.js"></script>
<link rel="canonical" href="/user/sameerdingore"><style>
.base_profile_page .ow_stdmargin.ow_ic_user{display: none;}
.mainprofiletoolbar{display:none !important}
.termsofuse_page hr {
    background-color: rgba(196, 205, 213, 0.5);
    height: 1px;
    margin: 35px 0 0 0;
}
.terms_label td.ow_desc{display:block;}
div#dialogMessageFormBlock > textarea {
    line-height: 16px !important;
    font-size: 13px;
}
.mailboxDialogBlock {
    width: 380px;
}
p#dialogMessageText {
    font-size: 15px;
    line-height: 20px;
}
.base_index_page .ow_site_panel{display:none !important;}
.personalitytest .ow_canvas {
    width: 80%;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">



<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '502088030442368');
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1"
src="https://www.facebook.com/tr?id=502088030442368&ev=PageView
&noscript=1"/>
</noscript>


<link href="/style/profile/font-awesome.min.css" rel="stylesheet">



<style></style><script src="/style/profile/f(1).txt"></script><script id="map-hint-template" type="text/html">
        <div class="map-hint-container">
            <div class="map-hint-content ow_border ow_bg_color">

                <div class="map-hint-corner-wrap map-hint-top-corner-wrap">
                    <div class="map-hint-corner"></div>
                </div>

                <div class="map-hint-corner-wrap map-hint-bottom-corner-wrap">
                    <div class="map-hint-corner"></div>
                </div>

                <div class="map-hint-corner-wrap map-hint-right-corner-wrap">
                    <div class="map-hint-corner"></div>
                </div>

                <div class="map-hint-body-wrap">
                    <div class="map-hint-body">
                        <div class="map-hint-preloader" style="display:none">Loading...</div>
                    </div>
                </div>

                <div class="map-hint-foot-wrap" style="display: none;">
                    <div class="map-hint-foot"></div>
                </div>
            </div>
        </div>
</script>

<script type="text/javascript" charset="UTF-8" src="/style/profile/common.js"></script><script type="text/javascript" charset="UTF-8" src="/style/profile/util.js"></script></head>
<!--[if IE 8]><body class="ow ie8 ow_userprofile_area velvet-9245"><![endif]-->
<!--[if !IE 8]><!--><body class="ow ow_userprofile_area velvet-9245" style=""><div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-classic cc-bottom cc-color-override-702457466 cc-invisible" style="display: none;"><!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">By using our site, you acknowledge that you have read and understand our <a href="/cookiepolicy">Cookie Policy</a>, <a href="/privacypolicy">Privacy Policy</a>, and our <a href="/termsofuse">Terms of Use</a>.</span><div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Got it</a></div><!--googleon: all--></div><!--<![endif]-->
<div class="ow_page_wrap">
<div class="ow_page_padding">
<div class="ow_header clearfix">
<div class="ow_site_panel">
<div class="ow_console clearfix">
<div class="ow_console_body clearfix">
<div class="ow_console_items_wrap">
<div id="console_item_5fb2a759dfa4c" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_invitation_list" style="display: none;">
<a href="javascript://" class="ow_console_item_link">Invitations</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb2a759dfa4c_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent">No items</div>
<ul class="ow_console_list OW_ConsoleList">
</ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
</div>
</div>
</div>
</div>
 <div id="console_item_5fb2a75fc8b45" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_friend_request_list" style="display: none;">
<a href="javascript://" class="ow_console_item_link">Likes</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb2a75fc8b45_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent">No items</div>
<ul class="ow_console_list OW_ConsoleList">
</ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
</div>
</div>
</div>
</div>
<div id="console_item_5fb2a759dfe3a" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_mailbox_items_list ow_mailbox_single_mode">
<a href="javascript://" class="ow_console_item_link">Messages</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb2a759dfe3a_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent"><center>No items</center></div>
<ul class="ow_console_list OW_ConsoleList"></ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
<div class="ow_console_messages_btn clearfix">
<div class="ow_console_messages_viewall"><a href="/messages">View All</a></div>
</div>
</div>
</div>
</div>
</div>
<div id="console_item_5fb2a759dfd02" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_notification_list">
<a href="javascript://" class="ow_console_item_link">Notifications</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb2a759dfd02_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent">No items</div>
<ul class="ow_console_list OW_ConsoleList">
</ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
</div>
</div>
</div>
</div>
<div id="console_item_5fb2a759dd48a" class="ow_console_item ow_console_dropdown ow_console_dropdown_hover profileTop">
<img class="ow_avatar" src={{avatar}}><a href="/user/sameerdingore" class="ow_console_item_link">{{profile_name}}</a>
<span class="ow_console_more"></span>
<div id="console_item_5fb2a759dd48a_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<ul class="ow_console_dropdown">
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/user/sameerdingore">My Profile</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/profile/edit">Edit Profile</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/email-notifications">Settings</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/profile/privacy">Privacy</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/matches/preferences">My Preferences</a>
</div>
</li>
<li><div class="ow_console_divider"></div></li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/sign-out">Sign Out</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ow_logo_wrap">
  <figure>
  <a href="/" class="">
  <img src="/style/theme_image_234.png" alt="" width="400" height="auto">
  </a>
  </figure></div>
<div class="ow_menu_wrap"><ul class="ow_main_menu clearfix">

<li class="base_dashboard">
  <form id="my_form" method="POST" action="/api/dashboard">
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;"><span>Dashboard</span>
</a>
  </form>
</li>


<li class="matchmaking_matches_index">
  <form id="my_form_profile" method="POST" action="/api/profile">
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_profile').submit(); return false;"><span>My Profile</span>
  </a>
  </form></li>
<li class="usearch_menu_item_search">
  <form id="my_form_search" method="POST" action="/api/search">
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_search').submit(); return false;"><span>Search</span>
</a>
  </form>
</li>
  <li class="base_page_6uq3zav4"><a href="guide"><span>Guide</span></a></li><li class="blogs_main_menu_item"><a href="/blogs"><span>Blog</span></a></li><li class="base_page_j3gu92g1"><a href="/FAQs"><span>FAQs</span></a></li></ul>

</div>
</div>
<div class="ow_page_container">
<div class="ow_canvas">
<div class="ow_page ow_bg_color clearfix">
<div class="ow_content">
<div class="ow_stdmargin" id="place_sections">
<div class="clearfix">
<div class="place_section top_section">
</div>
<div class="clearfix" style="overflow: hidden;">
<div class="ow_left place_section left_section ow_supernarrow">
<div class="ow_dnd_widget profile-BASE_CMP_UserAvatarWidget">
<div class="ow_box_empty ow_stdmargin clearfix profile-BASE_CMP_UserAvatarWidget ow_no_cap ow_break_word">
<div class="ow_avatar_console ow_center" id="avatar-console">
<div id="avatar_console_image" style="height: 190px; background-image: {{image}};">
<div class="ow_avatar_pending_approval" style="display:none;position: absolute; top: 0; right: 0; left: 0; bottom: 0; background-color: rgba(0,0,0,0.6); color: #fff; padding: 8px;">Profile photo is pending approval</div>
<div class="ow_avatar_button ow_avatar_change" id="avatar-change" style="display: none">
<a class="ow_lbutton" href="javascript://">Change profile photo</a>
</div>
</div>

</div>
</div>
</div>
<div class="ow_dnd_widget admin-5dd25fc72e143">
<div class="ow_box_empty ow_stdmargin clearfix admin-5dd25fc72e143 ow_no_cap ow_break_word">
<div class="ow_custom_html_widget">

</div>
</div>
</div>
</div>
<div class="ow_right place_section right_section ow_superwide ow_automargin">
<div class="ow_dnd_widget profile-BASE_CMP_UserViewWidget ow_superwide ow_automargin">
<div class="ow_box_empty ow_stdmargin clearfix profile-BASE_CMP_UserViewWidget ow_no_cap ow_break_word">
<div class="user_profile_data" style="position:relative">
<div class="match-widget"><h1 class="uname">{{profile_name}}</h1>
<span class="iamgendermale"><i class="fa fa-mars" aria-hidden="true"></i></span>
</div>
<div class="profile-action-widget">
</div>
<div style="display: none;" id="edit-profile" class="ow_edit_profile_link">
<a class="ow_lbutton" href="/profile/edit">Edit Profile Details</a>
</div>


<table class="ow_table_3 ow_nomargin section_f90cde5913235d172603cc4e7b9726e3 data_table my_profile_data">
<tbody><tr class="ow_tr_first">
</tr><tr class="ow_tr_first">
<th colspan="2" class="ow_section"><span>The Basics</span></th>
</tr>

<tr class="">
<td class="ow_label" style="width: 20%">Name</td>
<td class="ow_value"><span class="">{{profile_name}}</span></td>
</tr>
<tr class="">
<td class="ow_label" style="width: 20%">I am</td>
<td class="ow_value"><span class="">{{profile_gender}}</span></td>
</tr>
<tr class="">
<td class="ow_label" style="width: 20%">Food preferences</td>
<td class="ow_value"><span class="">{{profile_food_type}}</span></td>
</tr>

<tr class="">
<td class="ow_label" style="width: 20%">Age</td>
<td class="ow_value"><span class="">{{profile_age}}</span></td>
</tr>


<tr class="">
<td class="ow_label" style="width: 20%">Address</td>
<td class="ow_value"><span class="">{{profile_address}}, {{profile_zipcode}}, {{profile_state}}</span></td>
</tr>




<tr class="">
<td class="ow_label" style="width: 20%">Occupation</td>
<td class="ow_value"><span class="">{{profile_occupation}}</span></td>
</tr>

<tr class="">
<td class="ow_label" style="width: 20%">About me</td>
<td class="ow_value"><span class="">{{profile_about_me}}</span></td>
</tr>





<tr class="ow_tr_first">
<th colspan="2" class="ow_section"><span>About my match</span></th>
</tr>

<tr class="ow_tr_last">
<td class="ow_value"><span class="">Work In Progress</span></td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
<div class="place_section bottom_section">
</div>
</div>
</div>

</div>
<div class="ow_sidebar">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ow_footer">
<div class="ow_canvas">
<div class="ow_page clearfix">
<div class="ow_footer_menu"><div class="footer-social bootstrap-wrapper" style="">
<div class="container">
<a href="https://www.facebook.com/sosyncd" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button"> <img width="48px" height="48px" src="/style/profile/Facebook.png" alt="Facebook">
</a>
<a href="https://twitter.com/SoSyncd" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/profile/Twitter.png" alt="Twitter">
</a>
<a href="https://www.instagram.com/sosyncd" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/profile/Instagram.png" alt="Instagram">
</a>
</div>
</div>
<a href="/aboutus">About Us</a> | <a href="/termsofuse">Terms of Use</a> | <a href="/privacypolicy">Privacy Policy</a> | <a href="/cookiepolicy">Cookie Policy</a> | <a href="/contact">Contact Us</a></div>
<div class="ow_copyright ow_left">
© Copyright Mingle All The Way. All rights reserved. Sam Dingore 2020, Server registered in Dublin, Ireland. Registered office: 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ . Registered number: 19156221.

</div>
<div style="float:right;">
</div>
</div>
</div>
</div>
<div style="display: none" id="floatbox_prototype">
<div class="default">
<div class="floatbox_canvas floatbox_default">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="clearfix floatbox_cap">
<h3 class="floatbox_title"></h3>
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>
</div>
<div class="floatbox_body"></div>
<div class="floatbox_bottom"></div>
</div>
</div>
</div>
</div>
<div class="empty">
<div class="floatbox_canvas floatbox_empty">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>
<div class="floatbox_body"></div>
<div class="floatbox_bottom"></div>
</div>
</div>
</div>
</div>
</div>
<style type="text/css">
	h1.test_guidenew {
    color: #d50b63;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 25px;
    text-align: center;
}
 </style>
<script>
	$(document).ready(function(){
		$(".base_page_6uq3zav4").click(function(){
			 $(".base_page_6uq3zav4").toggleClass("type_guide_arrow");
		});
		$("body").click(function(){
			 $(".base_page_6uq3zav4").removeClass("type_guide_arrow");
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
if ($("body").hasClass("not_sign_in")) {
		// alert("Hello! I am an alert box!");
      $('ul.ow_main_menu li:nth-child(3)').click( function(e) {
        e.preventDefault(); // stops link from making page jump to the top
        e.stopPropagation(); // when you click the button, it stops the page from seeing it as clicking the body too
        $('.type_drop_main').toggle();
    });
    $('.type_drop_main').click( function(e) {

        e.stopPropagation(); // when you click within the content area, it stops the page from seeing it as clicking the body too

    });

    $('body').click( function() {

        $('.type_drop_main').hide();

    });
}
else{
$('ul.ow_main_menu li:nth-child(4)').click( function(e) {
	// alert("else! I am an alert box!");
        e.preventDefault(); // stops link from making page jump to the top
        e.stopPropagation(); // when you click the button, it stops the page from seeing it as clicking the body too
        $('.type_drop_main').toggle();
    });
    $('.type_drop_main').click( function(e) {

        e.stopPropagation(); // when you click within the content area, it stops the page from seeing it as clicking the body too

    });

    $('body').click( function() {
       $('.type_drop_main').hide();
    });
}
});
</script><script>
$(document).on("change","input[name='userPhoto']",function(){
	$(".upload-btn-wrapper .btn").hide();
})

$("#MainSearchForm").on('submit',function(e){
var flag = true;
$(".custom").remove();
var distance = $(".ow_googlelocation_search_distance").val();
if(distance > 999){
   $(".googlelocation_address_div").next().after("<span class='error custom'>Can't be more than 999 kilometers</span>")
   flag = false;
}

if(!flag){
  e.preventDefault();
}

})

</script>
<script>
$(document).on('html','mouseover',function(){
  $(".ow_tip.ow_tip_top").hide();
});
$('html').mouseover(function() {
  $(".ow_tip.ow_tip_top").hide();
});</script><script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script src="/style/profile/ga.js" type="text/javascript"></script>
<script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-152786440-1");
                pageTracker._trackPageview();
            } catch(err) {}
            </script>
<div class="ow_chat_cont">
<div class="ow_chat_wrap">
<div class="ow_chat">
<div class="ow_puller ui-draggable ui-draggable-disabled ui-draggable-handle" style="position: relative;"></div>
<div class="ow_chat_block_wrap ow_border">
<div class="ow_chat_block">
<form id="form_92w2hidu" method="post" action="/user/sameerdingore" name="im_user_settings_form">
<input name="form_name" id="input_7un2sa7id3ro5fb2a75fc85dc_6iwyry9e" type="hidden" value="im_user_settings_form">
<input name="csrf_token" id="input_jat3s4b1t5fb2a75fc85ef_xibe7apa" type="hidden" value="MTYwNTU0Mzc3NXgzdElnNHQxWklUMmo0UXltT2JFTEFrM20zUDR0SXZ5">
<input name="user_id" id="input_nyn2hu7un45fb2a75fc86de_nyn2hu7u" type="hidden" value="28392">
<div class="ow_chat_block_main">
<div class="ow_top_panel">
<div class="ow_count_block">
<a href="javascript://" class="btn2_panel">
<span class="ow_btn_sort_users" id="mailboxSortUsersPreference" title="Show only online users"><span class=""></span></span>
<span class="ow_count_txt">Chat</span>
<span class="ow_count_wrap">
<span class="ow_count_bg totalUserOnlineCountBackground">
<span class="ow_count totalUserOnlineCount">0</span>
</span>
</span>
</a>
</div>
</div>
<div class="ow_chat_in_block">
<div class="ow_chat_search">
<span><input name="im_find_contact" id="im_find_contact" type="text" placeholder="Find contact"><a href="javascript://" class="ow_btn_close_search" id="im_find_contact_close_btn_search"></a></span>
</div>
<h5>Work In Progress</h5>
<div class="ow_chat_list showAllUsers" style="width: 245px;">

<ul></ul>
</div>
</div>
</div>
<div class="ow_bot_panel">
<div class="ow_count_block">
<a href="javascript://" class="btn2_panel"><span class="ow_count_txt">Chat</span>
<span class="ow_count_wrap">
<span class="ow_count_bg totalUserOnlineCountBackground">
<span class="ow_count totalUserOnlineCount">0</span>
</span>
</span>
</a>
</div>
<a href="javascript://" class="ow_btn_sound" id="mailboxSoundPreference" title="Silent mode: On"><span></span></a>
</div>
</form> </div>
</div>
</div>
</div>
</div>
<div id="ow_chat_prototypes" style="display: none;">
<div id="ow_chat_list_proto">
<ul>
<li>
<a href="javascript://" class="clearfix ow_chat_item">
<span class="ow_chat_item_photo_wrap">
<span class="ow_chat_item_photo">
<span class="ow_chat_in_item_photo"><img src="/style/profile/default_avatar_5e02416c7e8d3.png" width="32px" height="32px" alt="" id="contactItemAvatarUrl"></span>
</span>
</span>
<span class="ow_chat_item_author">
<span class="ow_chat_in_item_author" id="contactItemDisplayName"></span>
</span>
<span class="ow_count_wrap ow_count_active" style="display: none;"><span class="ow_count">0</span></span>
<div class="ow_chat_status" id="contactProfileStatus"></div>
</a>
</li>
</ul>
</div>
</div>
<div class="ow_chat_dialog_wrap" id="dialogsContainer">
<div class="ow_chat_selector ow_hidden">
<div class="ow_chat_block">
<div class="ow_selector_panel">
<a class="ow_btn_dialogs" href="javascript://"><span></span></a>
<span class="ow_dialog_count">0</span>
<span class="ow_count_wrap" style="display: none;">
<span class="ow_count_bg ow_count_active">
<span class="ow_count">0</span>
</span>
</span>
</div>
<div class="ow_chat_selector_list ow_tooltip ow_tooltip_bottom_left ow_hidden">
<div class="ow_tooltip_body">
<ul class="ow_chat_selector_items"></ul>
</div>
<div class="ow_tooltip_tail"><span></span></div>
</div>
</div>
</div>
</div>
<div id="im_sound_player_audio_container" style="position: fixed; left: -1000px; top: -1000px;">
<audio id="im_sound_player_audio" src="/ow_static/plugins/mailbox/sound/receive.mp3"></audio>
</div>
<div id="mailbox_prototypes" style="display: none;">
<ul id="ow_chat_selector_items_proto">
<li class="ow_chat_selector_item ow_sets_button ow_hidden">
<a href="javascript://" id="chatSelectorContactItemDisplayName"></a>
<span class="ow_count_wrap">
<span class="ow_count_bg ow_count_active" style="display: none;" id="chatSelectorContactItemCounterBlock">
<span class="ow_count" id="chatSelectorContactItemCounter">0</span>
</span>
</span>
</li>
</ul>
<div class="ow_chat_dialog" id="dialogPrototypeBlock">
<div class="ow_chat_block">
<div class="ow_author_block ow_chat_hover clearfix">
<div class="ow_vertical_puller"></div>
<div class="ow_diagonal_puller"></div>
<div class="ow_horizontal_puller"></div>
<a href="javascript://" target="_blank" class="ow_chat_in_item_author_href ow_chat_in_item_photo_wrap" id="dialogProfileUrl">
<span class="ow_chat_in_item_photo"><img title="" alt="" src="/style/profile/default_avatar_5e02416c7e8d3.png" height="32px" width="32px" id="dialogProfileAvatarUrl"></span>
</a>
<a href="javascript://" class="ow_chat_item_author_wrap" id="dialogMinimizeMaximizeBtn">
<span class="ow_chat_item_media_buttons ow_left" data-type="media_buttons"></span>
<span class="ow_chat_item_author">
<span class="ow_chat_in_item_author clearfix" id="dialogProfileDisplayName"></span>
<div class="ow_chat_status" id="dialogProfileStatus"></div>
</span>
</a>
<a class="ow_btn_close" href="javascript://" id="dialogCloseBtn"><span></span></a>
</div>



<div class="ow_chat_in_dialog_wrap">
<div style="display: none;" class="ow_dialog_date_cap sticky" id="dialogStickyDateCapBlock">
<span id="dialogStickyDateCap"></span>
</div>
<div class="ow_chat_in_dialog">
<div class="ow_dialog_items_wrap" id="dialogLog"></div>
<div class="ow_chat_preloader" id="dialogPreloader"></div>
</div>
</div>
<div class="ow_chat_message_block">
<div class="ow_chat_message" id="dialogMessageFormBlock">
<span class="ow_attachment_icons">
<div class="ow_attachments clearfix">
<a class="attach" href="javascript://" id="dialogAttachmentsBtn"></a>
</div>
</span>
<textarea id="dialogTextarea" placeholder="Enter message…"></textarea>
<a href="javascript://" class="ow_chat_attach_btn"></a>
</div>
</div>
<div class="ow_chat_message_block" style="display: none;" id="dialogUserIsUnreachable">
<span style="padding: 8px; text-align: center; display:block;" id="dialogUserIsUnreachableText">User you are trying to contact is suspended.</span>
</div>
</div>
</div>
<div class="clearfix" id="dialogChatMessagePrototypeBlock">
<div class="ow_dialog_item">
<div class="ow_dialog_in_item " id="dialogMessageWrapper">
<p id="dialogMessageText">...</p>
</div><i></i>
</div>
</div>
<div class="clearfix" id="dialogSysMessagePrototypeBlock"></div>
<div class="clearfix ow_dialog_item_mailchat" id="dialogMailMessagePrototypeBlock">
<span class="ow_chat_item_photo_wrap">
<span class="ow_chat_item_photo">
<span class="ow_chat_in_item_photo"><img width="32px" height="32px" alt="" src="/style/profile/default_avatar_5e02416c7e8d3.png" id="dialogMessageAvatarUrl"></span>
</span>
</span>
<div class="ow_dialog_item_mailchat_text" id="dialogMessageText"></div>
</div>
<div class="clearfix" id="dialogTimeBlockPrototypeBlock">
<div class="ow_time_block">
<p><span class="ow_time_text"></span><span></span></p>
</div>
</div>
<div class="ow_dialog_date_cap dialogMessageGroup" id="dialogDateCapBlock">
<span id="dialogDateCap"></span>
</div>
<div class="ow_mailbox_message_content_attach clearfix" id="conversationFileAttachmentContentBlockPrototype"></div>
<div id="dialogEmbedLinkBlockPrototype">
<div class="ow_dialog_item even">
<div class="ow_dialog_in_item" id="dialogMessageWrapper">
<p id="dialogMessageText"></p>
<div class="ow_video_attachment_preview loading_content"></div>
</div>
</div>
</div>
<div id="conversationFileAttachmentBlockPrototype">
<div class="ow_file_attachment_info">
<a class="ow_file_attachment_name" target="_blank" href="javascript://" id="conversationFileAttachmentFileName"></a><span class="ow_file_attachment_size ow_small" style="display: inline-block;" id="conversationFileAttachmentFileSize"></span>
</div>
</div>
</div><script type="text/javascript">
;window.bookmarksActionUrl = "https:\/\/\/bookmarks\/rsp\/mark-state";
</script>
<script type="text/javascript" src="/style/profile/ow.js"></script>
<script type="text/javascript" src="/style/profile/jquery-ui.min.js"></script>
<script type="text/javascript" src="/style/profile/InfoBubble.js"></script>
<script type="text/javascript" src="/style/profile/markerclusterer.js"></script>
<script type="text/javascript" src="/style/profile/map_hint.js"></script>
<script type="text/javascript" src="/style/profile/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/style/profile/jquery.jscrollpane.js"></script>
<script type="text/javascript" src="/style/profile/skadate.js"></script>
<script type="text/javascript" src="/style/profile/bookmarks.js"></script>
<script type="text/javascript" src="/style/profile/audio-player.js"></script>
<script type="text/javascript" src="/style/profile/attachments.js"></script>
<script type="text/javascript" src="/style/profile/notifications.js"></script>
<script type="text/javascript" src="/style/profile/friend_request.js"></script>
<script type="text/javascript" src="/style/profile/console.js"></script>
<script type="text/javascript" src="/style/profile/jquery.emojipicker.js"></script>
<script type="text/javascript" src="/style/profile/jquery.emojis.js"></script>
<script type="text/javascript" src="/style/profile/emojiPicker.js"></script>
<script type="text/javascript" src="/style/profile/underscore-min.js"></script>
<script type="text/javascript" src="/style/profile/backbone-min.js"></script>
<script type="text/javascript" src="/style/profile/mailbox.js"></script>
<script type="text/javascript" src="/style/profile/contactmanager.js"></script>
<script type="text/javascript" src="/style/profile/cookieconsent.min.js"></script>
<script type="" src="/style/profile/jquery.js"></script>
<script type="" src="/style/profile/jquery.migrate.js"></script>
<script type="" src="/style/profile/jquery.ui.js"></script>
<script type="text/javascript" src="/style/profile/map.js"></script>
<script type="text/javascript" src="/style/profile/autocomplete.js"></script>
<script type="text/javascript">
(function() {OW.ajaxComponentLoaderRsp = "https:\/\/\/base\/ajax-loader\/component\/";
OW.ajaxAttachmentLinkRsp = "https:\/\/\/base\/attachment\/add-link\/";
OW.getPing().setRspUrl("https:\/\/\/base\/ping\/index\/");
OW.Users = new OW_UsersApi({"rsp":"https:\/\/\/base\/ajax-users-api\/rsp\/"});
})();
</script>
<script type="text/javascript">
(function() {;$(document).on("click", ".ow_ulist_big_avatar_bookmark", function( event )
                {
                    var handler = $(this);

                    BOOKMARKS.markState(handler.attr("data-user-id"), function( data, textStatus, jqXHR )
                    {
                        if ( data.mark === true )
                        {
                            OW.info('<div class="clearfix bookmarks_wrap"><span>' + "Saved to <a href=\"https:\/\/\/bookmarks\/list\/latest\" style=\"color:white\" >favourites<\/a>" + '</span><span class="ow_left boomarks_ic_wrap bookmarks_ic_bookmark_white"></span></div>');

                            var element;

                            if ( (element = $("#user-avatar-" + handler.attr("data-user-id") + " .ow_usearch_display_name")).length )
                            {
                                $("<div>", {class: "ow_ic_bookmark ow_bookmark_icon_ulist", id: "bookmark-user-" + handler.attr("data-user-id")}).insertAfter(element);
                            }
                            else
                            {
                                $("<div>", {class: "ow_ic_bookmark ow_bookmark_icon_ulist", id: "bookmark-user-" + handler.attr("data-user-id")}).appendTo(element);
                            }

                            handler.html("Remove favourite");
                        }
                        else
                        {
                            OW.info('<div class="clearfix bookmarks_wrap"><span>' + "Removed from <a href=\"https:\/\/\/bookmarks\/list\/latest\" style=\"color:white\" >favourites<\/a>" + '</span><span class="ow_left boomarks_ic_wrap bookmarks_ic_bookmark_white"></span></div>');
                            $("#bookmark-user-" + handler.attr("data-user-id")).remove();
                            handler.html("Favourite");
                        }
                    });
                });})();
</script>
<script type="text/javascript">
(function() {OW.bind('mailbox.after_dialog_render', addEmojiPicker)})();
</script>
<script type="text/javascript">
(function() {OWMailbox.userDetails = {"userId":28392,"displayName":"Sam","profileUrl":"https:\/\/\/user\/sameerdingore","avatarUrl":"https:\/\/s3.amazonaws.com\/\/ow_userfiles\/plugins\/base\/avatars\/avatar_28392_1605192969.jpg"};
 OWMailbox.documentTitle = "Sam | Mingle All The Way";
OWMailbox.soundEnabled = true;
OWMailbox.showOnlineOnly = false;
OWMailbox.showAllMembersMode = false;
OWMailbox.soundSwfUrl = "https:\/\/\/ow_static\/plugins\/mailbox\/js\/player.swf";
OWMailbox.soundUrl = "https:\/\/\/ow_static\/plugins\/mailbox\/sound\/receive.mp3";
OWMailbox.defaultAvatarUrl = "https:\/\/s3.amazonaws.com\/\/ow_userfiles\/plugins\/base\/avatars\/default_avatar_5e02416c7e8d3.png";
OWMailbox.serverTimezoneOffset = 0;
OWMailbox.useMilitaryTime = false;
OWMailbox.getHistoryResponderUrl = "https:\/\/\/mailbox\/ajax\/get-history\/";
OWMailbox.openDialogResponderUrl = "https:\/\/\/mailbox\/ajax\/update-user-info\/";
OWMailbox.attachmentsSubmitUrl = "https:\/\/\/base\/attachment\/add-file\/";
OWMailbox.attachmentsDeleteUrl = "https:\/\/\/base\/attachment\/delete-file\/";
OWMailbox.authorizationResponderUrl = "https:\/\/\/mailbox\/ajax\/authorization\/";
OWMailbox.responderUrl = "https:\/\/\/mailbox\/mailbox\/responder\/";
OWMailbox.userListUrl = "https:\/\/\/mailbox\/users";
OWMailbox.convListUrl = "https:\/\/\/mailbox\/convs";
OWMailbox.pingResponderUrl = "https:\/\/\/mailbox\/ajax\/ping\/";
OWMailbox.settingsResponderUrl = "https:\/\/\/mailbox\/ajax\/settings\/";
OWMailbox.userSearchResponderUrl = "https:\/\/\/mailbox\/ajax\/rsp\/";
OWMailbox.bulkOptionsResponderUrl = "https:\/\/\/mailbox\/ajax\/bulk-options\/";
OWMailbox.pluginUpdateTimestamp = "0";
OWMailbox.todayDate = "2020-11-16";
OWMailbox.todayDateLabel = "Today";
OWMailbox.chatModeEnabled = true;
OWMailbox.useChat = "available";
OWMailbox.mailModeEnabled = false;
im_debug_mode = false;
})();
</script>
<script type="text/javascript">
$(function () {
(function(_scope) { window.marckerClusterImagesUrl = "https:\/\/\/ow_static\/plugins\/google_map_location\/img";})({});
(function(_scope) {OW.registerLanguageKey('base', 'avatar_has_been_approved', "Your profile photo has been approved");})({});
(function(_scope) {OW.registerLanguageKey('base', 'ajax_floatbox_users_title', "Users");})({});
(function(_scope) {OW.registerLanguageKey('base', 'flag_as', "Flag profile as \u2026");})({});
(function(_scope) {OW.registerLanguageKey('base', 'delete_user_confirmation_label', "Delete confirmation");})({});
(function(_scope) {OW.registerLanguageKey('base', 'authorization_limited_permissions', "Limited permissions");})({});
(function(_scope) {OW.registerLanguageKey('base', 'avatar_change', "Change profile photo");})({});
(function(_scope) {OW.registerLanguageKey('base', 'avatar_crop', "Crop profile photo");})({});
(function(_scope) {OW.registerLanguageKey('admin', 'edit_language', "Edit Language");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_recent', "Recently Used");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_people', "People");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_nature', "Nature");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_food', "Food");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_activity', "Activities");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_travel', "Travel and Places");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_object', "Objects");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_symbol', "Symbols");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_flag', "Flags");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_search', "Search...");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_search_results', "Search Results");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_count_emojis', "emojis");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'find_contact', "Find contact");})({});
(function(_scope) {OW.registerLanguageKey('base', 'user_block_message', "Sorry, you can't do this right now");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'send_message_failed', "Failed to send message:");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'confirm_conversation_delete', "Are you sure?");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'silent_mode_off', "Silent mode: Off");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'silent_mode_on', "Silent mode: On");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'show_all_users', "Show all users");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'show_online_only', "Show only online users");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'new_message', "*** New Message ***");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'mail_subject_prefix', "Subject:\u00a0");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'chat_subject_prefix', "...");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'new_message_count', "{$count} new");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'chat_message_empty', "Message text is empty");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'text_message_invitation', "Enter message\u2026");})({});
(function(_scope) { var form = new OwForm({"id":"form_92w2hidu","name":"im_user_settings_form","reset":true,"ajax":null,"ajaxDataType":"json","validateErrorMessage":"Please complete the form"});window.owForms[form.name] = form;

var formElement = new OwFormElement("input_7un2sa7id3ro5fb2a75fc85dc_6iwyry9e", "form_name");
form.addElement(formElement);


            var formElement = new OwFormElement("input_jat3s4b1t5fb2a75fc85ef_xibe7apa", "csrf_token");

            formElement.resetValue = function(){};


form.addElement(formElement);
var formElement = new OwTextField("im_find_contact", "im_find_contact");
form.addElement(formElement);
var formElement = new OwFormElement("input_nyn2hu7un45fb2a75fc86de_nyn2hu7u", "user_id");
form.addElement(formElement);


			if ( form.form )
			{
    			$(form.form).bind( 'submit', {form:form},
    					function(e){
    						return e.data.form.submitForm();
    					}
    			);
                        }

                        OW.trigger('base.onFormReady.' + form.name, [], form);
                        OW.trigger('base.onFormReady', [form]);
		})({});
(function(_scope) {OW.Console = new OW_Console({"pingInterval":30000},{"console":{"time":1605543775},"invitation":{"counter":{"all":"0","new":"0"}},"notification":{"counter":{"all":"0","new":"0"}},"friend_requests":{"counter":{"all":"0","new":"0"}}});
})({});
(function(_scope) {OW.bindAutoClicks();OW.bindTips($('body'));OW.getPing().addCommand('user_activity_update').start(600000);})({});
(function(_scope) {
           $(".ow_userprofile_area h1.ow_stdmargin.ow_ic_user").addClass("ow_hidden");
        })({});
(function(_scope) {
               $("div.profile-BASE_CMP_UserViewWidget").parent().addClass("ow_superwide ow_automargin");
            })({});
(function(_scope) {    DND_InterfaceFix.fix('.place_section');
})({});
(function(_scope) {$("#avatar-change").click(function(){
                document.avatarFloatBox = OW.ajaxFloatBox(
                    "BASE_CMP_AvatarChange",
                    { params : { step : 1 } },
                    { width : 749, title: "Change profile photo"}
                );
            });

            OW.bind("base.avatar_cropped", function(data){
                if ( data.bigUrl != undefined ) {
                    $("#avatar_console_image").css({ "background-image" : "url(" + data.bigUrl + ")" });
                }

                if ( data.modearationStatus )
                {
                    if ( data.modearationStatus != "active" )
                    {
                        $(".ow_avatar_pending_approval").show();
                    }
                    else
                    {
                        $(".ow_avatar_pending_approval").hide();
                    }
                }
            });
            })({});
(function(_scope) {
        (function(){
            $("#avatar-console").hover(
              function(){
                $("#avatar-change").fadeIn("fast");
                $("#avatar-approve").fadeIn("fast");
              },
              function(){
                $("#avatar-change").fadeOut("fast");
                $("#avatar-approve").fadeOut("fast");
              }
          );
       }());

    })({});
(function(_scope) {
                        const mapScriptUrl = "\/\/maps.google.com\/maps\/api\/js?&key=AIzaSyAFYDIQSerO3RzHVdDU7i7k55BaWpeIQH0&language=en&callback=googlemaplocation_api_loading_complete";
                        const script = document.createElement("script");
                        script.setAttribute('defer', '');
                        script.setAttribute('async', '');
                        script.setAttribute("type", "text/javascript");
                        script.setAttribute("src", mapScriptUrl);
                        document.body.appendChild(script);
                    })({});
(function(_scope) {
                if(!GOOGLELOCATION_INIT_SCOPE) {
                    window.GOOGLELOCATION_INIT_SCOPE = [];
                }

                window.GOOGLELOCATION_INIT_SCOPE.push(function() {
                    $("head").append("<script id=\"map-hint-template\" type=\"text\/html\">\n        <div class=\"map-hint-container\">\n            <div class=\"map-hint-content ow_border ow_bg_color\">\n\n                <div class=\"map-hint-corner-wrap map-hint-top-corner-wrap\">\n                    <div class=\"map-hint-corner\"><\/div>\n                <\/div>\n\n                <div class=\"map-hint-corner-wrap map-hint-bottom-corner-wrap\">\n                    <div class=\"map-hint-corner\"><\/div>\n                <\/div>\n\n                <div class=\"map-hint-corner-wrap map-hint-right-corner-wrap\">\n                    <div class=\"map-hint-corner\"><\/div>\n                <\/div>\n\n                <div class=\"map-hint-body-wrap\">\n                    <div class=\"map-hint-body\">\n                        <div class=\"map-hint-preloader\" style=\"display:none\">Loading...<\/div>\n                    <\/div>\n                <\/div>\n\n                <div class=\"map-hint-foot-wrap\" style=\"display: none;\">\n                    <div class=\"map-hint-foot\"><\/div>\n                <\/div>\n            <\/div>\n        <\/div>\n<\/script>\n\n")

                    if( !window.map )
                    {
                        window.map = {};
                    }

                    if ( !window.googlelocation_hint_init )
                    {
                        GoogleMapLocationHint.LAUNCHER().init("https:\/\/\/ow_static\/plugins\/google_map_location\/js\/images\/marker_icon.png");
                        window.googlelocation_hint_init = true;
                    }
                });
            })({});
(function(_scope) { $('#matchmakingViewMatchSectionBtn').click(function(){

            var matchmakingViewMatchSectionFloatbox = new OW_FloatBox({$title: "About my match", $contents: $('#matchmakingViewMatchSectionFloatbox'), width: '550px'});

        }); })({});
(function(_scope) { $(".profile_hidden_field").hover(function(){OW.showTip($(this), {timeout:150, show: "Invisible"})}, function(){OW.hideTip($(this))});})({});
(function(_scope) {
            (function(){
                $(".user_profile_data").hover(
                  function(){
                    $("#edit-profile").fadeIn();
                  },
                  function(){
                    $("#edit-profile").fadeOut();
                  }
              );
           }());

    })({});
(function(_scope) {
        $(document).ready( function(){
            $(".ow_footer_menu").prepend($(".footer-social").show());
        });
        })({});
(function(_scope) {;
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#efefef",
                            "text": "#999798"
                        },
                        "button": {
                            "background": "#d50b63",
                            "text": "#ffffff"
                        }
                    },
                    "showLink": false,
                    "theme": "classic",
                    "position": "bottom",
                    "content": {
                        "message": "By using our site, you acknowledge that you have read and understand our <a href=\"https:\/\/\/cookiepolicy\">Cookie Policy<\/a>, <a href=\"https:\/\/\/privacypolicy\">Privacy Policy<\/a>, and our <a href=\"https:\/\/\/termsofuse\">Terms of Use<\/a>.",
                        "dismiss": "Got it"
                    }
                });
                })({});
(function(_scope) {OW.Console.addItem(new OW_ConsoleDropdownHover("console_item_5fb2a759dd48a", "console_item_5fb2a759dd48a_content"), "my_profile_console_item");
})({});
(function(_scope) {OW.Console.addItem(new OW_ConsoleDropdownList("console_item_5fb2a759dfa4c", "console_item_5fb2a759dfa4c_content"), "invitation");
})({});
(function(_scope) {$.extend(OW.Console.getItem("invitation"), OW_ConsoleList).construct({"rsp":"https:\/\/\/base\/console\/list-rsp\/","key":"invitation"});})({});
(function(_scope) {OW.Invitation = new OW_Invitation("invitation", {"rsp":"https:\/\/\/base\/invitation\/ajax\/"});
})({});
(function(_scope) {OW.Console.addItem(new OW_ConsoleDropdownList("console_item_5fb2a759dfd02", "console_item_5fb2a759dfd02_content"), "notification");
})({});
(function(_scope) {$.extend(OW.Console.getItem("notification"), OW_ConsoleList).construct({"rsp":"https:\/\/\/base\/console\/list-rsp\/","key":"notification"});})({});
(function(_scope) {OW.Notification = new OW_Notification("notification");
})({});
(function(_scope) {OW.Console.addItem(new OW_ConsoleDropdownList("console_item_5fb2a759dfe3a", "console_item_5fb2a759dfe3a_content"), "mailbox");
})({});
(function(_scope) {$.extend(OW.Console.getItem("mailbox"), OW_ConsoleList).construct({"rsp":"https:\/\/\/base\/console\/list-rsp\/","key":"mailbox"});})({});
(function(_scope) {OW.MailboxConsole = new OW_MailboxConsole("mailbox", {"issetMails":false});
})({});
(function(_scope) {OW.Console.addItem(new OW_ConsoleDropdownList("console_item_5fb2a75fc8b45", "console_item_5fb2a75fc8b45_content"), "friend_requests");
})({});
(function(_scope) {$.extend(OW.Console.getItem("friend_requests"), OW_ConsoleList).construct({"rsp":"https:\/\/\/base\/console\/list-rsp\/","key":"friend_requests"});})({});
(function(_scope) {OW.FriendRequest = new OW_FriendRequest("friend_requests", {"rsp":"https:\/\/\/friends\/action\/ajax\/"});
})({});
(function(_scope) {    DND_InterfaceFix.fix('.ow_sidebar');
})({});
(function(_scope) {OW.Mailbox = new OWMailbox.Application({"pingInterval":15000,"lastMessageTimestamp":0});})({});
(function(_scope) {
        OW.Mailbox.contactManager = new MAILBOX_ContactManager;
        OW.Mailbox.contactManagerView = new MAILBOX_ContactManagerView({model: OW.Mailbox.contactManager});})({});
(function(_scope) {
                $('#dialogTextarea').emojiPicker({
                    width: '300px',
                    height: '200px',
                    upper: 'outer',
                    container: '#emojiContainer',
                    button: false
                });

                $(document).delegate('#dialogEmojiBtn', 'click', function(e) {
                    $('#dialogTextarea').emojiPicker('toggle');
                });
            })({});

});
</script>

<div class="ow_message_cont"></div><script defer="" async="" type="text/javascript" src="/style/profile/js(1)"></script></body></html>
