<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Results | MINGLE All THE WAY</title>
 <script type="text/javascript" async="" src="/style/results/f.txt"></script><script src="/style/results/502088030442368" async=""></script><script async="" src="/style/results/fbevents.js"></script><script async="" src="/style/results/js"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-706805612'); </script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<meta name="description" content="Here&#39;s a quick personality type guide and some date ideas for each Myers-Briggs personality type. Sign up to Mingle All The Way today to form a meaning connection.">
<meta name="keywords" content="Personality type, personality type guide">

<meta http-equiv="Content-language" content="en">
<link rel="stylesheet" type="text/css" href="/style/results/ow.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/base.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/velvet-92455ee743fe6cc64.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/main.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/css(1)" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/css(2)" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/skadate.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/bookmarks.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/jquery.emojipicker.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/bootstrap.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/cookieconsent.min.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/mailbox.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/results/style.css" media="all">
<style media="all">
html div.ow_console_list_wrapper
{
    min-height: 0px;
    max-height: 257px;
}

</style><link rel="shortcut icon" type="image/x-icon" href="/style/favicon.png">
<script type="text/javascript" src="/style/results/jquery.min.js"></script>
<script type="text/javascript" src="/style/results/jquery-migrate.min.js"></script>
<link rel="canonical" href="/personality-type-guide"><style>
.base_profile_page .ow_stdmargin.ow_ic_user{display: none;}
.mainprofiletoolbar{display:none !important}
.termsofuse_page hr {
    background-color: rgba(196, 205, 213, 0.5);
    height: 1px;
    margin: 35px 0 0 0;
}
.terms_label td.ow_desc{display:block;}
div#dialogMessageFormBlock > textarea {
    line-height: 16px !important;
    font-size: 13px;
}
.mailboxDialogBlock {
    width: 380px;
}
p#dialogMessageText {
    font-size: 15px;
    line-height: 20px;
}
.base_index_page .ow_site_panel{display:none !important;}
.personalitytest .ow_canvas {
    width: 80%;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">



<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '502088030442368');
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1"
src="https://www.facebook.com/tr?id=502088030442368&ev=PageView
&noscript=1"/>
</noscript>


<link href="/style/results/font-awesome.min.css" rel="stylesheet">



<style></style><script src="/style/results/f(1).txt"></script></head>
<!--[if IE 8]><body class="ow ie8 velvet-9245 page_6uq3zav4"><![endif]-->
<!--[if !IE 8]><!--><body class="ow velvet-9245 page_6uq3zav4"><div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-classic cc-bottom cc-color-override-702457466 cc-invisible" style="display: none;"><!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">By using our site, you acknowledge that you have read and understand our <a href="/cookiepolicy">Cookie Policy</a>, <a href="/privacypolicy">Privacy Policy</a>, and our <a href="/termsofuse">Terms of Use</a>.</span><div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Got it</a></div><!--googleon: all--></div><!--<![endif]-->
<div class="ow_page_wrap">
<div class="ow_page_padding">
<div class="ow_header clearfix">
<div class="ow_site_panel">
<div class="ow_console clearfix">
<div class="ow_console_body clearfix">
<div class="ow_console_items_wrap">
<div id="console_item_5fb142b9a3be1" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_invitation_list" style="display: none;">
<a href="javascript://" class="ow_console_item_link">Invitations</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb142b9a3be1_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent">No items</div>
<ul class="ow_console_list OW_ConsoleList">
</ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
</div>
</div>
</div>
</div>
<div id="console_item_5fb142c01c7ad" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_friend_request_list" style="display: none;">
<a href="javascript://" class="ow_console_item_link">Likes</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb142c01c7ad_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent">No items</div>
<ul class="ow_console_list OW_ConsoleList">
</ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
</div>
</div>
</div>
</div>
<div id="console_item_5fb142b9a3fc9" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_mailbox_items_list ow_mailbox_single_mode">
<a href="javascript://" class="ow_console_item_link">Messages</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb142b9a3fc9_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent"><center>No items</center></div>
<ul class="ow_console_list OW_ConsoleList"></ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
<div class="ow_console_messages_btn clearfix">
<div class="ow_console_messages_viewall"><a href="/messages">View All</a></div>
</div>
</div>
</div>
</div>
</div>
<div id="console_item_5fb142b9a3e8e" class="ow_console_item ow_console_dropdown ow_console_dropdown_click ow_notification_list">
<a href="javascript://" class="ow_console_item_link">Notifications</a>
<span style="display: none;" class="ow_count_wrap OW_ConsoleItemCounter ">
<span class=" ow_count_bg OW_ConsoleItemCounterPlace" style="width: auto;">
<span class="ow_count OW_ConsoleItemCounterNumber" style="visibility: hidden; right: 18px;">0</span>
</span>
</span>
<div id="console_item_5fb142b9a3e8e_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<div class="ow_console_list_wrapper OW_ConsoleListContainer">
<div class="ow_nocontent OW_ConsoleListNoContent">No items</div>
<ul class="ow_console_list OW_ConsoleList">
</ul>
<div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" style="visibility: hidden"></div>
</div>
</div>
</div>
</div>
</div>
<div id="console_item_5fb142b9a32df" class="ow_console_item ow_console_dropdown ow_console_dropdown_hover profileTop">
<img class="ow_avatar" src="{{avatar}}"><a href="/user/sameerdingore" class="ow_console_item_link">{{profile_name}}</a>
<span class="ow_console_more"></span>
<div id="console_item_5fb142b9a32df_content" class="OW_ConsoleItemContent" style="display: none;">
<div class="ow_tooltip  console_tooltip ow_tooltip_top_right">
<div class="ow_tooltip_tail">
<span></span>
</div>
<div class="ow_tooltip_body">
<ul class="ow_console_dropdown">
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/user/sameerdingore">My Profile</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/profile/edit">Edit Profile</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/email-notifications">Settings</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/profile/privacy">Privacy</a>
</div>
</li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/matches/preferences">My Preferences</a>
</div>
</li>
<li><div class="ow_console_divider"></div></li>
<li class=" ow_dropdown_menu_item ow_cursor_pointer">
<div class="ow_console_dropdown_cont">
<a href="/sign-out">Sign Out</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ow_logo_wrap">
  <figure>
  <a href="/" class="">
  <img src="/style/theme_image_234.png" alt="" width="400" height="auto">
  </a>
  </figure>
</div>
<div class="ow_menu_wrap"><ul class="ow_main_menu clearfix">
<li class="base_dashboard">
  <form id="my_form" method="POST" action="/api/dashboard">
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;"><span>Dashboard</span>
  </a>
  </form>
</li>
<li class="matchmaking_matches_index">
  <form id="my_form_profile" method="POST" action="/api/profile">
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_profile').submit(); return false;"><span>My Profile</span>
  </a>
  </form></li>
<li class="usearch_menu_item_search">  <form id="my_form_search" method="POST" action="/api/search">
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_search').submit(); return false;"><span>Search</span>
</a>
  </form></li>
<li class="base_page_6uq3zav4 active"><a href="/personality-type-guide"><span>Type Guide</span></a>
</li><li class="blogs_main_menu_item"><a href="/blogs"><span>Blog</span></a></li>
<li class="base_page_j3gu92g1"><a href="/FAQs"><span>FAQs</span></a></li></ul>

</div>
</div>





<div class="ow_page_container">
<div class="ow_canvas">
<div class="ow_page ow_bg_color clearfix">

<div class="ow_content">
<div class="type_guide">



<h5>{{apistorename}}</h5>
<br>
<br>
<ul class="type_tag">
<li>Type: {{apistoretype}}</a></li>
<li>Contact: {{apistorecontact}}</li>
</ul>
<br><br>
<ul class="type_tag">
<label>Address:</label>
<h3>{{apistorestreet}}, {{apistoreblock}}, {{apistorecity}}, {{apistorezipcode}}, {{apistorestate}}.</h3>
<br>
<br>
<label>{{apistoredesc}}</label>


</ul>
<hr>

{{#if error}}
<h2>{{error}}</h2>
  {{/if}}

{{#if matchname}}
<div class="header">
<h2>Results Found</h2>
<img src="{{match_image}}" width="100" height="40">

<h5>{{matchname}}</h5>
<p class="ideal_date"><label>Occupation:</label> {{occupation}}</p>
<ul class="type_tag">
<label>When</label>
<li>{{matchdate}}/{{matchmonth}}</li>
<label>Age</label>
<li>{{matchage}}</li>
<label>gender</label>
<li>{{matchgender}}</li>
<br><br><br>
<form id="my_form_profile_view" method="POST" action="/api/view_profile">
  <input name="profile_token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{profile_token}}>
  <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

<a href="javascript:{}" onclick="document.getElementById('my_form_profile_view').submit(); return false;"><span>View Profile</span>
</a>
</form>
</ul>


<hr>
{{#if matchname1}}

<img src="{{match_image1}}" width="100" height="40">
<h5 >{{matchname1}}</h5>
<p class="ideal_date">
<label>Occupation:</label> {{occupation1}}
</p>
<ul class="type_tag">
  <label>When</label>
  <li>{{matchdate1}}/{{matchmonth1}}</li>
  <label>Age</label>
  <li>{{matchage1}}</li>
  <label>gender</label>
  <li>{{matchgender1}}</li>
  <br><br><br>
  <form id="my_form_profile_view1" method="POST" action="/api/view_profile">
    <input name="profile_token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{profile_token1}}>
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_profile_view1').submit(); return false;"><span>View Profile</span>
  </a>
  </form>  </ul>

<hr>
{{/if}}

{{#if matchname2}}

<img src="{{match_image2}}" width="100" height="40">
<h5 >{{matchname2}}</h5>
<p class="ideal_date">
<label>Occupation:</label> {{occupation2}}
</p>
<ul class="type_tag">
  <label>When</label>
  <li>{{matchdate2}}/{{matchmonth2}}</li>
  <label>Age</label>
  <li>{{matchage2}}</li>
  <label>gender</label>
  <li>{{matchgender2}}</li>
  <br><br><br>
  <form id="my_form_profile_view" method="POST" action="/api/view_profile">
    <input name="profile_token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{profile_token2}}>
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_profile_view').submit(); return false;"><span>View Profile</span>
  </a>
  </form>  </ul>

<hr>
{{/if}}

{{#if matchname3}}

<img src="{{match_image3}}" width="100" height="40">
<h5 >{{matchname2}}</h5>
<p class="ideal_date">
<label>Occupation:</label> {{occupation3}}
</p>
<ul class="type_tag">
  <label>When</label>
  <li>{{matchdate3}}/{{matchmonth3}}</li>
  <label>Age</label>
  <li>{{matchage3}}</li>
  <label>gender</label>
  <li>{{matchgender3}}</li>
  <br><br><br>
  <form id="my_form_profile_view" method="POST" action="/api/view_profile">
    <input name="profile_token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{profile_token3}}>
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_profile_view').submit(); return false;"><span>View Profile</span>
  </a>
  </form>  </ul>

<hr>
{{/if}}

{{#if matchname4}}

<img src="{{match_image4}}" width="100" height="40">
<h5 >{{matchname4}}</h5>
<p class="ideal_date">
<label>Occupation:</label> {{occupation4}}
</p>
<ul class="type_tag">
  <label>When</label>
  <li>{{matchdate4}}/{{matchmonth4}}</li>
  <label>Age</label>
  <li>{{matchage4}}</li>
  <label>gender</label>
  <li>{{matchgender4}}</li>
  <br><br><br>
  <form id="my_form_profile_view" method="POST" action="/api/view_profile">
    <input name="profile_token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{profile_token4}}>
    <input name="token" id="input_19otag2xovo515fad4eb43ee32_o93my6ix" type="hidden" value={{token}}>

  <a href="javascript:{}" onclick="document.getElementById('my_form_profile_view').submit(); return false;"><span>View Profile</span>
  </a>
  </form>  </ul>

<hr>
{{/if}}

{{/if}}


</div>
<div class="ow_sidebar">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ow_footer">
<div class="ow_canvas">
<div class="ow_page clearfix">
<div class="ow_footer_menu"><div class="footer-social bootstrap-wrapper" style="">
<div class="container">
<a href="https://www.facebook.com/samdingore" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button"> <img width="48px" height="48px" src="/style/results/Facebook.png" alt="Facebook">
</a>
<a href="https://twitter.com/SamDingore" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/results/Twitter.png" alt="Twitter">
</a>
<a href="https://www.instagram.com/sam.dingore/" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/results/Instagram.png" alt="Instagram">
</a>
</div>
</div>
<a href="/aboutus">About Us</a> | <a href="/termsofuse">Terms of Use</a> | <a href="/privacypolicy">Privacy Policy</a> | <a href="/cookiepolicy">Cookie Policy</a> | <a href="/contact">Contact Us</a></div>
<div class="ow_copyright ow_left">
© Copyright Mingle All The Way. All rights reserved. Sam Dingore 2020, Server registered in Dublin, Ireland. Registered office: 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ . Registered number: 19156221.
</div>
<div style="float:right;">
</div>
</div>
</div>
</div>
<div style="display: none" id="floatbox_prototype">
<div class="default">
<div class="floatbox_canvas floatbox_default">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="clearfix floatbox_cap">
<h3 class="floatbox_title"></h3>
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>
</div>
<div class="floatbox_body"></div>
<div class="floatbox_bottom"></div>
</div>
</div>
</div>
</div>
<div class="empty">
<div class="floatbox_canvas floatbox_empty">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>

;window.bookmarksActionUrl = "https:\/\/minglealltheway\/bookmarks\/rsp\/mark-state";
</script>
<script type="text/javascript" src="/style/results/ow.js"></script>
<script type="text/javascript" src="/style/results/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/style/results/jquery.jscrollpane.js"></script>
<script type="text/javascript" src="/style/results/skadate.js"></script>
<script type="text/javascript" src="/style/results/bookmarks.js"></script>
<script type="text/javascript" src="/style/results/jquery-ui.min.js"></script>
<script type="text/javascript" src="/style/results/audio-player.js"></script>
<script type="text/javascript" src="/style/results/attachments.js"></script>
<script type="text/javascript" src="/style/results/notifications.js"></script>
<script type="text/javascript" src="/style/results/friend_request.js"></script>
<script type="text/javascript" src="/style/results/console.js"></script>
<script type="text/javascript" src="/style/results/jquery.emojipicker.js"></script>
<script type="text/javascript" src="/style/results/jquery.emojis.js"></script>
<script type="text/javascript" src="/style/results/emojiPicker.js"></script>
<script type="text/javascript" src="/style/results/underscore-min.js"></script>
<script type="text/javascript" src="/style/results/backbone-min.js"></script>
<script type="text/javascript" src="/style/results/mailbox.js"></script>
<script type="text/javascript" src="/style/results/contactmanager.js"></script>
<script type="text/javascript" src="/style/results/cookieconsent.min.js"></script>

<script type="text/javascript">
$(function () {
(function(_scope) {OW.registerLanguageKey('base', 'ajax_floatbox_users_title', "Users");})({});
(function(_scope) {OW.registerLanguageKey('base', 'flag_as', "Flag profile as \u2026");})({});
(function(_scope) {OW.registerLanguageKey('base', 'delete_user_confirmation_label', "Delete confirmation");})({});
(function(_scope) {OW.registerLanguageKey('base', 'authorization_limited_permissions', "Limited permissions");})({});
(function(_scope) {OW.registerLanguageKey('base', 'avatar_change', "Change profile photo");})({});
(function(_scope) {OW.registerLanguageKey('base', 'avatar_crop', "Crop profile photo");})({});
(function(_scope) {OW.registerLanguageKey('admin', 'edit_language', "Edit Language");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_recent', "Recently Used");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_people', "People");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_nature', "Nature");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_food', "Food");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_activity', "Activities");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_travel', "Travel and Places");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_object', "Objects");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_symbol', "Symbols");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_category_flag', "Flags");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_search', "Search...");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_search_results', "Search Results");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'emojipicker_count_emojis', "emojis");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'find_contact', "Find contact");})({});
(function(_scope) {OW.registerLanguageKey('base', 'user_block_message', "Sorry, you can't do this right now");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'send_message_failed', "Failed to send message:");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'confirm_conversation_delete', "Are you sure?");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'silent_mode_off', "Silent mode: Off");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'silent_mode_on', "Silent mode: On");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'show_all_users', "Show all users");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'show_online_only', "Show only online users");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'new_message', "*** New Message ***");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'mail_subject_prefix', "Subject:\u00a0");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'chat_subject_prefix', "...");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'new_message_count', "{$count} new");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'chat_message_empty', "Message text is empty");})({});
(function(_scope) {OW.registerLanguageKey('mailbox', 'text_message_invitation', "Enter message\u2026");})({});

</div><div class="ow_message_cont"></div></body></html>
